## Explore the model of choice

In [1]:
import pandas as pd
import numpy as np
#load in datasets

training_data = pd.read_csv("../src/taxipred/data/cleaned_training_data.csv")
testing_data = pd.read_csv("../src/taxipred/data/cleaned_testing_data.csv")

In [2]:
training_data.head()

   Trip_Distance_km  Trip_Duration_Minutes  Traffic_Encoded  Trip_Price
0             19.35                  53.82                0     36.2624
1             36.87                  37.27                2     52.9032
2             30.33                 116.81                0     36.4698
3             25.87                  22.64                2     15.6180
4              8.64                  89.33                1     60.2028

In [3]:
testing_data.head()

   Trip_Distance_km  Trip_Duration_Minutes  Traffic_Encoded  Trip_Price
0             47.59                  40.57                2         NaN
1             30.45                 110.33                2         NaN
2             48.53                  79.94                0         NaN
3              4.19                  69.06                0         NaN
4             38.78                  90.14                1         NaN

## Linear Regression

In [4]:
# Define X and y for training data

X_train = training_data[['Trip_Distance_km', 'Trip_Duration_Minutes', 'Traffic_Encoded']]
y_train = training_data['Trip_Price']

# Define X and y for testing data

X_test = testing_data[['Trip_Distance_km', 'Trip_Duration_Minutes', 'Traffic_Encoded']]
y_test = testing_data['Trip_Price']

In [6]:
#Scaling the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)

X_test_scaled = scaler.transform(X_test)

In [8]:
# Create model LinearRegression

from sklearn.linear_model import LinearRegression

model_lr = LinearRegression()

model_lr.fit(X_train_scaled, y_train)

print(f"Parameters: {model_lr.coef_}")
print(f"Intercept parameter: {model_lr.intercept_}")

Parameters: [57.03677178 32.09135799 -1.34041199]
Intercept parameter: 8.515136123163735

In [10]:
test_sample_features = X_test_scaled[0].reshape(1,-1)
test_sample_target = y_test.values[0]


print(f"Faktiska features: {test_sample_features}, Faktisk pris (label): {test_sample_target}")
print(f"Prediction: {model_lr.predict(test_sample_features)[0]:.2f} kr")

Faktiska features: [[0.95077933 0.30967517 1.        ]], Faktisk pris (label): nan
Prediction: 71.34 kr

In [11]:
y_pred_lr = model_lr.predict(X_test_scaled)

In [ ]:
# Kunde ej utvärdera då y_test saknade kända priser

#from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#mask = y_test.notna()

#y_test_clean = y_test[mask]
#y_pred_lr_clean = y_pred_lr[mask]

#mae = mean_absolute_error(y_test_clean, y_pred_lr_clean)
#mse = mean_squared_error(y_test_clean, y_pred_lr_clean)
#rmse = np.sqrt(mse)
#r2 = r2_score(y_test_clean, y_pred_lr_clean)

#print(f"MAE: {mae:.2f}, MSE: {mse:.2f}, RMSE: {rmse:.2f}, R2: {r2:.2f}")

## Random Forest