Some EDA

In [16]:
import pandas as pd


df = pd.read_csv("../src/taxipred/data/taxi_trip_pricing.csv", index_col=0)

df.head(20)

,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
Trip_Distance_km,,,,,,,,,,
19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
3.85,Afternoon,Weekday,4.0,High,Rain,3.51,1.66,NaN,5.05,11.2645
43.44,Evening,Weekend,3.0,NaN,Clear,2.97,1.87,0.23,NaN,101.1216
30.45,Morning,Weekday,3.0,High,Clear,2.77,1.78,0.34,110.33,NaN
35.70,Afternoon,Weekday,2.0,Low,Rain,3.39,1.52,0.47,NaN,75.5657
NaN,Morning,Weekday,4.0,NaN,Clear,2.40,0.58,0.43,26.34,14.8920
48.53,Night,Weekday,3.0,Low,Clear,4.78,NaN,0.50,79.94,NaN
41.79,Night,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.1328
11.40,Morning,Weekday,3.0,NaN,Clear,4.12,NaN,0.15,84.12,36.1180
9.91,Evening,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.9914
9.99,Night,Weekday,4.0,High,Clear,4.33,0.85,0.43,34.00,27.4415
15.91,Morning,Weekday,4.0,Low,Clear,4.42,1.77,0.21,114.93,56.7160
26.71,Afternoon,Weekend,4.0,Low,Rain,4.30,1.59,0.20,111.18,69.0049
22.17,Night,NaN,4.0,Low,Clear,2.34,1.97,0.41,57.59,69.6268
15.27,Morning,NaN,NaN,Low,Clear,3.93,0.73,0.12,NaN,27.3543

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 19.35 to 22.85
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Time_of_Day            950 non-null    object
 1   Day_of_Week            950 non-null    object
 2   Passenger_Count        950 non-null    float64
 3   Traffic_Conditions     950 non-null    object
 4   Weather                950 non-null    object
 5   Base_Fare              950 non-null    float64
 6   Per_Km_Rate            950 non-null    float64
 7   Per_Minute_Rate        950 non-null    float64
 8   Trip_Duration_Minutes  950 non-null    float64
 9   Trip_Price             951 non-null    float64
dtypes: float64(6), object(4)
memory usage: 85.9+ KB

In [19]:
df.isna().sum()

Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64